.idea/
.consulo/
!/.consulo/codeStyleSettings.xml
!/.consulo/runConfigurations
target/
*.iml
out/
gen/
idea-gitignore.jar
resources/templates.list
resources/gitignore/*
build/
build.properties
junit*.properties
IgnoreLexer.java~
.gradle

/verification